#hd {

  .pc-view {

    #gnb {
      border: 4px solid #1F1F1F;
      background-color: #0F0F0F;

      .nav-active {
        background-color: #1A1A1A;
        padding: .5rem 1rem;
        border-radius: .5rem;

        a {
          color: #E50000;
        }
      }
    }
  }

  .mobile-view {
    display: none !important;
  }
}

@media (max-width: 992px) {
  #hd {
    .pc-view {
      display: none !important;
    }

    .mobile-view {
      display: block !important;
      // position: relative;
      // left: 100%;
    }

    .navi {
      transition: .5s;
      // transform: translateY(0%);
      height: 0;
      overflow: hidden;
    }

    .active {
      // transform: translateY(100%);
      height: calc(50vh - 40px);
    }
  }
}

// mobile-view
.mobile-view {
  .hamburger-btn {
    font-size: 4.5rem;
  }

  font-size: 2rem;
  background-color: #1F1F1F;

  #gnb {
    li {
      a {
        color: white !important;
        display: block;
        width: auto;
      }

      .gnb-divider {
        margin: 1rem;
        background: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, #e50000 50%, rgba(229, 0, 0, 0) 100%);
        max-width: 100%;
        height: 1px;
      }
    }
  }

  .search-actor {
    margin-top: 1rem !important;

    input {
      font-size: 1.5rem !important;
      padding: .5rem !important;
      width: 80vw !important;
    }
  }


}