/* reset */
ul {
  padding-left: 0;
  margin-bottom: 0;
}

li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* common */
.w-0 {
  width: 0;
  white-space: nowrap;
}

.z-up {
  z-index: 999;
}

/* main color */
:root {
  --actor-red: #E50000;
}

.maincolor {
  color: var(--actor-red) !important;
}

.maincolor-bg {
  background-color: var(--actor-red) !important;
}

.maincolor-border {
  border: 1px solid var(--actor-red) !important;
}

/* style */
body {
  background-color: #141414;
  color: #fff;
  font-family: 'Pretendard-Regular', sans-serif !important;
}

main {
  margin-top: 137px !important;
}